<?xml version="1.0" encoding="utf-8"?>
<module productName="Geta Epi Index Content in Find" clientResourceRelativePath="" loadFromBin="false">
    <assemblies>
        <add assembly="Geta.Epi.IndexContentInFind" />
    </assemblies>
    <dojo>
        <paths>
            <add name="geta-epi-indexcontentinfind" path="ClientResources/scripts" />
        </paths>
    </dojo>
    <clientModule initializer="geta-epi-indexcontentinfind/CommandsInitializer">
        <moduleDependencies>
            <add dependency="CMS" type="RunAfter" />
        </moduleDependencies>
    </clientModule>
</module>